* {
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 50px;
  font-family: Arial, sans-serif;
  padding: 0;
}

.header-text{
    font-size: 30px;
    color: #0d0d5e;   
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
    display: flex;
    margin: 15px;
}

.navbar {
    width: 30vh;
    margin: 15px;
}
input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



button {
  margin: 20px 0px;
  height: 40px;
  width: 100px;
  border-radius: 2em;
  border: none;
  background-color: grey;
  font-size: 15px;
}
button:hover {
  background-color: #0d0d5e;
  color: white;
}
